.tab_btn__primary {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
  width: 100%;
}

.tab_btn__primary button {
  width: 100%;
}

.activeBtn {
  background-color: var(--primary-red-color);
  color: white;
  transition: 0.3s ease;
}

.mobileContainer {
  display: none;
}

@media screen and (max-width: 680px) {
  .desktopContainer {
    display: none;
  }
  .mobileContainer {
    display: block;
  }

  .desktiop_btn__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .mobile_btn {
    width: 100%;
  }

  .mobile_сontent {
    margin-top: 10px;
  }

  .mobile_item {
    margin-bottom: 10px;
  }
}
