.hero_mainContainer {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  gap: 16px;
}

.hero_swiper :global(.swiper-slide) {
  width: 100% !important;
}

.hero_swiper {
  height: 100% !important;
}

.hero_swiper :global(.swiper-wrapper) {
  height: 100% !important;
}

.hero_slideItem {
  position: relative;
  height: 100%;
}

.hero_slideImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
}

.hero_slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_slideContent {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.hero_description {
  margin-top: 64px;
}

.hero_slideBtn {
  border: 1px solid transparent;
  padding: 16px 32px;
  background-color: var(--primary-bg-color);
  color: var(--primary-red-color);
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .hero_mainContainer {
    grid-template-columns: 1fr 0.55fr;
    gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .hero_mainContainer {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
