.productCarousel_container {
  padding: 48px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: -25px 19px 56px -40px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: -25px 19px 56px -40px rgba(34, 60, 80, 0.24);
  box-shadow: -25px 19px 56px -40px rgba(34, 60, 80, 0.24);
}

.productCarousel_swiperMain {
  margin-top: 40px;
}

.example .swiper-slide {
  height: 100% !important;
}

@media screen and (max-width: 1024px) {
  .productCarousel_container {
    padding: 24px;
  }
}
