.consultationForm_main {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.input_container {
  width: 100%;
}

.form_input {
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px 16px;
  width: 100%;
}

.test {
  border: 2px solid var(--primary-red-color);
}

.send_btn {
  width: 100%;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  color: var(--primary-red-color);
  font-weight: bold;
  padding: 24px 16px;
}

@media screen and (max-width: 1086px) {
  .consultationForm_main {
    flex-direction: column;
    gap: 10px;
  }
  .form_input {
    padding: 16px;
  }
  .send_btn {
    padding: 16px;
  }
}
